apiVersion: v1
kind: Service
metadata:
  name: {{ include "cups-client.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "cups-client.fullname" . }}
